
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #2f662f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
.detail {
    margin-left: 200px;
}
.biu {
    display: flex;
    justify-content: stretch horizontal;
    flex-direction: row;
}